@import "tailwindcss";

/* Extend Tailwind's font-family using @layer directive */
@theme {
  --font-primary: "Maitree", serif;
  --font-secondary: "Sacramento", cursive;
  --color-customGreen: #022d1d;
  --color-customBlack: #202020;
  --color-sidebarBlack: #272727;
}
